html{
    min-height: 100%;
    min-width: 100%;
    background: linear-gradient(to bottom left, #1c92d2, #f2fcfe);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{

}
#entryDiv{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#Title{
    padding-bottom: 50px;
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


/* Modal Header */
.modal-header {
    padding: 0px 0px;
    background-color: #aacbe8;
    color: white;
    height: 45px;
}

/* Modal Body */
.modal-body {padding: 16px 12px;}


/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/*BUTTON*/
.md-button {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
}

.md-button.md-cornered {
    border-radius: 0;
}




md-input-container:not(.md-input-invalid) > md-icon.email {
    color: green; }
md-input-container.md-input-invalid > md-icon.email {
    color: red; }