
body{
    background-color:  #0F2027; /* Цвет фона */
}

#entryDiv { position: absolute; }
#entryDiv{
    top: 82px; /* Расстояние от верхнего края */
    left: 35%; /* Расстояние от правого края */
    background: linear-gradient(to top, #0F2027, #203A43, #2C5364);

}
#fon{
    background-color: transparent;: linear-gradient(to top, #0F2027, #203A43, #2C5364) /* Цвет фона */
}