
body { margin: 0; }
#sidebar, #content { position: absolute; }
#sidebar, #content { overflow: auto; padding: 10px; }
#header {
    height: 80px; /* Высота слоя */
    background: #FEDFC0; border-bottom: 2px solid #7B5427;
}
#header h1 { padding: 20px; margin: 0; }
#sidebar {
    width: 150px; background: #ECF5E4; border-right: 1px solid #231F20;
    top: 82px; /* Расстояние от верхнего края */
    bottom: 0; /* Расстояние снизу  */
}
#content {
    top: 82px; /* Расстояние от верхнего края */
    right: 0px; /* Расстояние от правого края */
    bottom: 0;
}








button {
    cursor: pointer;
}

#popUpMsg-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}

#popUpMsg {
    top: 10%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    padding: 10px 5px;
    background: white;
    border-radius: 5px;
    position: absolute;
}

#popUpMsg .close {
    background: black;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    top: -6px;
    right: -7px;
}

#popUpMsg .content {
    text-align: center;
    margin-bottom: 10px;
}

#popUpMsg button {
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    border: 0;
    background: lightgray;
    padding: 5px 20px;
    cursor: pointer;
}