<!doctype html>
<html ng-app="app">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"> </script>
    <meta charset="utf=8">
    <base href="/" />
    <title>Blog</title>
</head>
<body>
<div ng-controller='myCtrl'>
        <div ng-repeat="book in books">
            {{book.postText}}
        </div>
</div>

<script>
    var app = angular.module('app',[]);
        /*
       $http.get('http://localhost:8000/books').then(data => {
           console.log(data);
           $scope.books = data;
       })
       */
    app.config(function($locationProvider) {
        $locationProvider.html5Mode(true);
    });
        app.controller('myCtrl', function ($http, $scope, $location) {
            localStorage.setItem('myKey', 'Value');
            console.log($location.search().name);
        $http.get('http://localhost:2000/posts',{params:{id:$location.search().name}})
            .then(function (result) {
                console.log('sucess', result);
                $scope.books = result.data;
            })
            .catch(function (result) {
                console.log(result)
            })
           /*
           .success(function (result) {
               console.log('sucess', result);
               $scope.books = result;
           })
           .error(function (result) {
               console.log('error')
           })
           */
    });//

    </script>

</body>
</html>
