<!doctype html>
<html ng-app="app">
    <head>
        <meta charset="utf=8">
        <title>Blog</title>
    </head>
    <body>
        <div ng-controller='myCtrl'>
            <h1>{{title}}</h1>
            <form method="GET" action="/toRegestration">
                <p>Имя:</p>
                <input type="text" name="name">
                <p>Email:</p>
                <input type="text" name="email">
                <p>Пароль:</p>
                <input type="text" name="passsword">
                <p></p>
                <button type="submit" name="entry" value="entry"> Вход </button>
                <button type="submit" name="toRegestration" value="toRegestration"> Регистрация </button>
            </form>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"> </script>
    <script type="text/javascript" src="main.js"></script>
    <script>
        angular.module('app',[]).controller('myCtrl', function ($scope) {
            $scope.title = "Вход"
        });
    </script>
    </body>
</html>
