<link href="../styles/template.css" >
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div id="entryDiv">

    <div id="Title">
    <h1>Вход</h1>
    </div>

    <md-input-container class="md-block">
        <md-icon class="name">person</md-icon>
        <input name="name" ng-model="Name" type="text" placeholder="Логин" ng-required="true">
    </md-input-container>

    <md-input-container class="md-block">
        <md-icon class="email">email</md-icon>
        <input name="email" ng-model="Email" type="email" placeholder="Почта (обязательно)" ng-required="true">
    </md-input-container>

    <md-input-container class="md-block">
        <md-icon class="password">vpn_key</md-icon>
        <input name="passsword" ng-model="Password" type="password" placeholder="Пароль" ng-required="true">
    </md-input-container>

    <md-button class="md-raised md-cornered" type="submit" name="click_button" value="entry" ng-click="temp.entry()" style="background-color: MediumAquamarine"> Вход </md-button>
    <md-button class="md-raised md-cornered" type="submit" name="click_button" value="toRegistration" ng-click="temp.registration()" style="background-color: MediumAquamarine"> Регистрация </md-button>

</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h3>{{Header}}</h3>
        </div>
        <div class="modal-body">
            <p>{{textBody}}</p>
        </div>
    </div>
</div>