

    <link href="../styles/UserMain.css" rel="stylesheet">

    <div>
        <h1>Добро пожаловать {{nameUser}}</h1>
        <input type="button" ng-click="Posts()" value="Мои записи">
        <p></p>
        <input type="button" ng-click="AllPosts()" value="Все записи">
        <p></p>
        <input type="button" ng-click="Search()" value="Поиск">
        <input type="text" ng-model="textForSearch" value={{textForSearch}} class="SearchPost">
        <p></p>
        <p></p>
        <p></p>
        <input type="text" ng-model="textForTitle" value={{textForTitle}} class="addPost">
        <p></p>
        <textarea rows="5" cols="45" name="ADD" ng-disabled="false" class="addPost" ng-model="textForPost">{{textForPost}}</textarea>
        <p></p>
        <input type="button" ng-click="newPost()" value="Добавить новую запись">
    </div>

    <div id="content">
        <div ng-repeat="book in books">
            <h5>Название:{{book.titleText}}  Автор:{{book.firstName}}</h5>
            <textarea rows="5" cols="45" name={{countId}} disabled="true" ng-model="book.postText" class="multi-files{{book.id}}">{{book.postText}}</textarea>
            <br>
            <input type="button" name={{book.id}} ng-click="editPost(book.id)" value="Изменить">
            <input type="button" ng-click="savePost(book.id)" value="Сохранить">
            <input type="button" ng-click="delPost(book.id)" value="Удалить">
            <p></p>
        </div>
    </div>